body {
  background-color: #263238;
}

table {
  margin: 0 auto;
  width: 400px;
  height: 800px;
}

td {
  width: 10%;
  height: 5%;
}

.stick {
  background-color: #03A9F4;
}

.default {
  background-color: #455A64;
}
